<h1>Says#goodbye</h1>
<p>Nice having u here</p>
<p><%= link_to "Hello", says_hello_path%></p> 
<p> Addition: <%= 1+15%> </p>
<p> Concatenation: <%= "cow" + "boy"%> </p>
<p> Time in one hour: <%= 1.hour.from_now %> </p>